<template name="postLogin">
	<!-- add header -->
	<div id="postLogin-container">
		<div id="postLogin-header">
			<button class="in_head" id="logout">Logout</button>
			<button class="in_head" id="settings" style="{{hiddenAmend}}">Settings</button>
			<button class="in_head" id="nav_back" style="{{hiddenAmend_back}}">Back to Editor</button>
			<button class="in_head" id="save_file" style="{{hiddenAmend}}">Save Project</button>
			<button class="in_head" id="change_file" style="{{hiddenAmend}}">Change Project</button>
			<button class="in_head" id="new_project" style="{{hiddenAmend}}">New Project</button>
			<button class="in_head" id="language_toggle" style="{{hiddenAmend}}">Enter {{switchLang}}</button>
			<a href="http://www.wantaghstem.org"><img src="/images/stirner.jpeg" class="in_head" id="logo" /></a>
		</div>
	</div>
</template>

